<h2>Por Pais</h2>
<hr class="bg-info" />

<div class="row">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="buscar()">
      <input
        type="text"
        name="termino"
        class="form-control"
        placeholder="Buscar pais..."
        [(ngModel)]="termino"
      />
    </form>
  </div>
</div>

<hr />

<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el termino {{ termino | titlecase }}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pais of paises; let indice = index">
            <td>{{ indice + 1 }}</td>
            <td>
              <img src="{{ pais.flag }}" alt="" class="small-flag" />
            </td>
            <td>{{ pais.name }}</td>
            <td>{{ pais.population | number }}</td>
            <td>
              <a [routerLink]="['/pais', pais.alpha2Code]" class="nav-link"
                >ver más...</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
