<h2>Por Pais</h2>
<hr class="bg-info" />

<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeHolder="Buscar por capital..."
    ></app-pais-input>
  </div>
</div>

<hr />

<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el termino {{ termino | titlecase }}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-table [paises]="paises" class="table-responsive"></app-pais-table>
  </div>
</div>
