<h3 class="text-center text-md-left mt-4 mt-md-0">
  Buscar por region
  <small class="text-info" *ngIf="regionActiva"
    >"{{ regionActiva | titlecase }}"</small
  >
</h3>

<h5 class="text-center mt-4 mb-3">Seleccione la region</h5>

<div class="row">
  <div class="col">
    <!-- [class.btn-success]="region === regionActiva" -->
    <!-- [ngClass]="{
        'btn-success': regionActiva === region,
        'btn-outline-success': regionActiva !== region
      }" -->
    <button
      *ngFor="let region of regiones"
      [class]="
        region === regionActiva ? 'btn btn-success' : 'btn btn-outline-success'
      "
      (click)="activarRegion(region)"
    >
      {{ region | titlecase }}
    </button>
  </div>
</div>
